<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TO-DO-LIST | HOMEPAGE</title>
</head>
<body>
    <h1>Welcome to the to-do list</h1>
     <ul>
        <a href="/show"><li>Show your Tasks</li></a>
        <a href="/new"><li>Add New Tasks</li></a>
        
        <a href='/admin'><li>Admin Secret Paths</li></a>
        
        <a href='/login'><li>Login</li></a>
        <a href="/register"><li>Register</li></a>
    </ul>
</body>
</html> 